@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.sidepic_container {
  width: 50%;
  height: 100vh;
  background-image: url(../../../assets/images/login_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: #ccc;
}

.login_container {
  width: 50%;
  background-color: #dfe3e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_box {
  background-color: white;
  border: solid gray;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 40vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login_item {
  margin-bottom: 10px;
}

.login_submit {
  display: flex;
  justify-content: flex-end;
}

.login_btn {
  background-color: #4786ff;
  border: solid #ccc;
  border-radius: 20px;
  padding: 5px;
  font-size: 10px;
  color: white;
}

.icon_border {
  border: solid grey 1px;
}

.brand_name {
  font-family: 'Roboto', sans-serif;
}
